<div class="sidebar">
    <ul class="nav-list">
      <li [class.active]="isActive('Dashboard')" (click)="setActive('Dashboard', '/dashboard')">
        <i class="icon fa fa-home"></i>
        <span class="nav-text">Dashboard</span>
      </li>
  
      <li [class.active]="isActive('Wallets')" (click)="setActive('Wallets')">
        <i class="icon fa fa-wallet"></i>
        <span class="nav-text">Wallets</span>
      </li>
  
      <li class="section-title">ACTIVITIES</li>
      <li [class.active]="isActive('Transactions')" (click)="setActive('Transactions')">
        <i class="icon fa fa-random"></i>
        <span class="nav-text">Transactions</span>
        <i class="fa fa-chevron-down dropdown-icon"></i>
      </li>
      <li [class.active]="isActive('Deposit Money')" (click)="setActive('Deposit Money')">
        <i class="icon fa fa-arrow-down"></i>
        <span class="nav-text">Deposit Money</span>
      </li>
      <li [class.active]="isActive('Send Money')" (click)="setActive('Send Money')">
        <i class="icon fa fa-paper-plane"></i>
        <span class="nav-text">Send Money</span>
      </li>
      <li [class.active]="isActive('Request Money')" (click)="setActive('Request Money')">
        <i class="icon fa fa-hand-holding-usd"></i>
        <span class="nav-text">Request Money</span>
      </li>
      <li [class.active]="isActive('Exchange Money')" (click)="setActive('Exchange Money')">
        <i class="icon fa fa-exchange-alt"></i>
        <span class="nav-text">Exchange Money</span>
      </li>
      <li [class.active]="isActive('Withdrawals')" (click)="setActive('Withdrawals')">
        <i class="icon fa fa-arrow-up"></i>
        <span class="nav-text">Withdrawals</span>
      </li>
  
      <li class="section-title">CRYPTO EXCHANGE</li>
      <li [class.active]="isActive('Crypto Exchange')" (click)="setActive('Crypto Exchange')">
        <i class="icon fa fa-coins"></i>
        <span class="nav-text">Crypto Exchange</span>
        <i class="fa fa-chevron-down dropdown-icon"></i>
      </li>
  
      <li class="section-title">INVESTMENTS</li>
      <li [class.active]="isActive('Investments')" (click)="setActive('Investments')">
        <i class="icon fa fa-chart-line"></i>
        <span class="nav-text">Investments</span>
        <i class="fa fa-chevron-down dropdown-icon"></i>
      </li>
      <li [class.active]="isActive('Profile Verification')" (click)="setActive('Profile Verification', '/profile')">
        <i class="icon fa fa-id-card"></i>
        <span class="nav-text">Profile Verification</span>
      </li>
      <li class="section-title">OTHERS</li>
      <li [class.active]="isActive('Disputes')" (click)="setActive('Disputes')">
        <i class="icon fa fa-gavel"></i>
        <span class="nav-text">Disputes</span>
      </li>
      <li [class.active]="isActive('Tickets')" (click)="setActive('Tickets')">
        <i class="icon fa fa-ticket-alt"></i>
        <span class="nav-text">Tickets</span>
      </li>
      
    </ul>
  </div>
  